<div class="comments-section-box">
  <h3>Comments</h3>

  <% if project.persisted? %>
    <div class="existing-comments">
      <table>
        <tr>
          <th>Comment</th>
          <th>Posted By</th>
          <th>Posted At</th>
        </tr>
        <% project.project_comments.each do |comment| %>
          <tr>
            <td><%= comment.comment %></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.created_at %></td>
          </tr>
        <% end %>
      </table>
    </div>


    <%= form_with(model: [project, ProjectComment.new], local: true) do |f| %>
      <br />
      <div class="field">
        <%= f.text_area :comment %>
      </div>

      <div class="actions">
        <%= f.submit "Add" %>
      </div>
    <% end %>
  <% end %>
</div>
