<h1>Project Details</h1>

<div class="main-details">
  <p><strong>Name:</strong> <%= @project.name %></p>
  <p><strong>Current Status:</strong> <%= @project.status.humanize %></p>
</div>

<div class="project-additional-details">
  <div class="comments-section">
    <div class="existing-comments">
      <h2>Project Statuses</h2>
      <table>
        <tr>
          <th>Status</th>
          <th>User</th>
          <th>Date</th>
        </tr>
        <% @project.project_statuses.each do |status| %>
          <tr>
            <td><%= status.status %></td>
            <td><%= status.user.name %></td>
            <td><%= status.created_at %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="project-additional-details">
  <div class="comments-section">
    <%= render 'comments', project: @project %>
  </div>
</div>

<div class="actions">
  <%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-primary" %>
  <%= link_to 'Back to Projects', projects_path, class: "btn btn-secondary" %>
</div>
